In [1]:
import pickle
import numpy as np
import pandas as pd
import scipy.stats as stats
import matplotlib.pyplot as plt
import sklearn
plt.style.use('ggplot')  # sets up pretty plots
%matplotlib inline
pd.set_option('display.max_rows', 2000)
pd.set_option('display.max_columns', 500)

In [2]:
df = pd.read_pickle('yellowcab_clean_data.pkl')

In [3]:
df.head()

,vendor_id,pickup_datetime,dropoff_datetime,passenger_count,trip_distance,pickup_longitude,pickup_latitude,rate_code,dropoff_longitude,dropoff_latitude,payment_type,fare_amount,surcharge,mta_tax,tip_amount,tolls_amount,total_amount,total_time,trip_time,pickup_day,pickup_hour,pickup_minute
0,CMT,2014-04-08 08:59:39,2014-04-08 09:28:57,1,2.5,-73.958848,40.763585,1,-73.986284,40.752034,CRD,18.0,0.0,0.5,3.7,0.0,22.2,00:29:18,29,1,8,59
1,CMT,2014-04-08 14:59:22,2014-04-08 15:04:52,1,0.9,0.000000,0.000000,1,0.000000,0.000000,CRD,6.0,0.0,0.5,1.3,0.0,7.8,00:05:30,6,1,14,59
2,CMT,2014-04-08 08:45:28,2014-04-08 08:50:41,2,0.6,-73.992233,40.729136,1,-73.991387,40.735186,CRD,5.5,0.0,0.5,1.2,0.0,7.2,00:05:13,5,1,8,45
3,CMT,2014-04-08 08:00:20,2014-04-08 08:11:31,2,0.5,-73.973726,40.750095,1,-73.976889,40.755623,CRD,8.0,0.0,0.5,1.7,0.0,10.2,00:11:11,11,1,8,0
4,CMT,2014-04-08 08:38:36,2014-04-08 08:44:37,1,0.4,-73.973502,40.755479,1,-73.979198,40.758619,CRD,5.5,0.0,0.5,1.2,0.0,7.2,00:06:01,6,1,8,38

In [4]:
df_small = df[0:100000]

In [5]:
df_small.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 22 columns):
vendor_id            100000 non-null object
pickup_datetime      100000 non-null datetime64[ns]
dropoff_datetime     100000 non-null datetime64[ns]
passenger_count      100000 non-null int64
trip_distance        100000 non-null float64
pickup_longitude     100000 non-null float64
pickup_latitude      100000 non-null float64
rate_code            100000 non-null int64
dropoff_longitude    100000 non-null float64
dropoff_latitude     100000 non-null float64
payment_type         100000 non-null object
fare_amount          100000 non-null float64
surcharge            100000 non-null float64
mta_tax              100000 non-null float64
tip_amount           100000 non-null float64
tolls_amount         100000 non-null float64
total_amount         100000 non-null float64
total_time           100000 non-null timedelta64[ns]
trip_time            100000 non-null int64
pickup_day           100000 non-null int64
pickup_hour          100000 non-null int64
pickup_minute        100000 non-null int64
dtypes: datetime64[ns](2), float64(11), int64(6), object(2), timedelta64[ns](1)
memory usage: 16.8+ MB

pickup_list = np.array(df1_small.pickup_datetime)

from sklearn import preprocessing
le = preprocessing.LabelEncoder()

le.fit(pickup_list)
encoded_time = le.transform(pickup_list)

df1_small['encoded_pickup_time'] = encoded_time

In [6]:
X = pd.DataFrame(data=df_small, columns = ['pickup_day', 'pickup_hour', 'pickup_minute', 'trip_distance', 'pickup_longitude', 'pickup_latitude', 'dropoff_latitude','dropoff_longitude'])
y = df_small['trip_time']
X.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 8 columns):
pickup_day           100000 non-null int64
pickup_hour          100000 non-null int64
pickup_minute        100000 non-null int64
trip_distance        100000 non-null float64
pickup_longitude     100000 non-null float64
pickup_latitude      100000 non-null float64
dropoff_latitude     100000 non-null float64
dropoff_longitude    100000 non-null float64
dtypes: float64(5), int64(3)
memory usage: 6.1 MB

In [7]:
X.head()

,pickup_day,pickup_hour,pickup_minute,trip_distance,pickup_longitude,pickup_latitude,dropoff_latitude,dropoff_longitude
0,1,8,59,2.5,-73.958848,40.763585,40.752034,-73.986284
1,1,14,59,0.9,0.000000,0.000000,0.000000,0.000000
2,1,8,45,0.6,-73.992233,40.729136,40.735186,-73.991387
3,1,8,0,0.5,-73.973726,40.750095,40.755623,-73.976889
4,1,8,38,0.4,-73.973502,40.755479,40.758619,-73.979198

In [8]:
import seaborn as sns
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import accuracy_score
from sklearn.model_selection import train_test_split
import numpy as np
from sklearn import datasets, linear_model
from sklearn.metrics import mean_squared_error, r2_score

In [9]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size =0.3, random_state=5)

### KNeighborsRegressor

In [59]:
from sklearn.neighbors import KNeighborsRegressor
reg = KNeighborsRegressor(n_neighbors=9)
reg.fit(X_train, y_train)

KNeighborsRegressor(algorithm='auto', leaf_size=30, metric='minkowski',
          metric_params=None, n_jobs=1, n_neighbors=9, p=2,
          weights='uniform')

In [60]:
reg.score(X_test, y_test)

0.6103864775050101

In [40]:
from sklearn.grid_search import GridSearchCV
param_grid = {'n_neighbors': np.arange(3, 1004, 100)}
reg_cv = GridSearchCV(reg, param_grid, cv=3, scoring='r2')
reg_cv.fit(X, y)

GridSearchCV(cv=3, error_score='raise',
       estimator=KNeighborsRegressor(algorithm='auto', leaf_size=30, metric='minkowski',
          metric_params=None, n_jobs=1, n_neighbors=5, p=2,
          weights='uniform'),
       fit_params={}, iid=True, n_jobs=1,
       param_grid={'n_neighbors': array([   3,  103,  203,  303,  403,  503,  603,  703,  803,  903, 1003])},
       pre_dispatch='2*n_jobs', refit=True, scoring='r2', verbose=0)

In [41]:
reg_cv.best_params_

{'n_neighbors': 103}

In [42]:
reg_cv.best_score_

0.5205061549554554

In [34]:
from sklearn.grid_search import GridSearchCV
param_grid = {'n_neighbors': np.arange(23, 44, 5)}
reg_cv = GridSearchCV(reg, param_grid, cv=3, scoring='r2')
reg_cv.fit(X, y)

GridSearchCV(cv=3, error_score='raise',
       estimator=KNeighborsRegressor(algorithm='auto', leaf_size=30, metric='minkowski',
          metric_params=None, n_jobs=1, n_neighbors=5, p=2,
          weights='uniform'),
       fit_params={}, iid=True, n_jobs=1,
       param_grid={'n_neighbors': array([23, 28, 33, 38, 43])},
       pre_dispatch='2*n_jobs', refit=True, scoring='r2', verbose=0)

In [35]:
reg_cv.best_params_

{'n_neighbors': 38}

In [36]:
reg_cv.best_score_

0.5365016804594291

In [37]:
from sklearn.grid_search import GridSearchCV
param_grid = {'n_neighbors': np.arange(33, 44)}
reg_cv = GridSearchCV(reg, param_grid, cv=3, scoring='r2')
reg_cv.fit(X, y)

GridSearchCV(cv=3, error_score='raise',
       estimator=KNeighborsRegressor(algorithm='auto', leaf_size=30, metric='minkowski',
          metric_params=None, n_jobs=1, n_neighbors=5, p=2,
          weights='uniform'),
       fit_params={}, iid=True, n_jobs=1,
       param_grid={'n_neighbors': array([33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43])},
       pre_dispatch='2*n_jobs', refit=True, scoring='r2', verbose=0)